.sticky__wrapper {
  position: relative;
  /* // height: 4rem; probably you need to set height value for wrapper */
}

.sticky .sticky--inner {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  z-index: 1;
}
